/* Regular */

@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans-Regular.woff2);
}

/* SemiBold */

@font-face {
  font-family: "Nunito Sans bold";
  src: url(../fonts/NunitoSans-SemiBold.woff2);
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: "Nunito Sans bold";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
}

h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #263238;
}

h5 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #263238;
}

a {
  text-decoration: none;
  color: #263238;
}

a:hover {
  color: #00B8CC;
}

a:active {
  color: #E80055;
}

body {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #263238;
  background: #E8E8E8;
}

.br {
  border-radius: 12px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: none;
  border-radius: 40px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  cursor: pointer;
}

.btn_big {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.btn_blue {
  background: #00B8CC;
  color: #fff;
}

.btn_blue svg {
  fill: #fff;
}

.btn_blue:hover {
  background: #fff;
  color: #00B8CC;
}

.btn_blue:hover svg {
  fill: #00B8CC;
}

.btn_blue:active {
  background: #E80055;
  color: #fff;
}

.btn_blue:active svg {
  fill: #fff;
}

.btn_white {
  background: #fff;
  color: #263238;
}

.btn_white svg {
  fill: #263238;
}

.btn_white:hover {
  background: #fff;
  color: #00B8CC;
}

.btn_white:hover svg {
  fill: #00B8CC;
}

.btn_white:active {
  color: #E80055;
}

.btn_white:active svg {
  fill: #E80055;
}

.btn_red_border {
  color: #E80055;
  border: 2px solid #E80055;
}

.btn_red_border svg {
  fill: #E80055;
}

.btn_red_border:hover {
  color: #00B8CC;
  border: 2px solid #00B8CC;
}

.btn_red_border:hover svg {
  fill: #00B8CC;
}

.btn_red_border:active {
  color: #fff;
  border: 2px solid #E80055;
  background: #E80055;
}

.btn_red_border:active svg {
  fill: #fff;
}

.btn_red {
  background: #E80055;
  color: #fff;
  border: 2px solid #E80055;
}

.btn_red:hover {
  background: #fff;
  color: #E80055;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.lines {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #BABABA;
  border-radius: 12px 12px 0px 0px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header_top {
  background-color: #263238;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 0 30px 0 30px;
  column-gap: 20px;
}

.header_search {
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
}

.header_search input[type=text] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  float: left;
  background: #fff;
  border-radius: 40px 0px 0px 40px;
}

.header_search input[type=text]::placeholder {
  color: #BABABA;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.header_search button {
  flex-grow: 0;
  float: right;
  padding: 10px;
  background: #00B8CC;
  border-radius: 0px 40px 40px 0px;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.header_search::after {
  content: "";
  clear: both;
  display: table;
}

.header_contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts_address,
.contacts_phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contacts_address {
  margin-right: 20px;
}

.header_contacts_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}

.header_contacts_item a {
  color: #fff;
  text-decoration: none;
}

.header_contacts_item a:hover {
  color: #00B8CC;
}

.btn_call {
  display: flex;
  column-gap: 10px;
  display: none;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0;
}

.nav_list {
  display: flex;
  background: #fff;
  padding: 0 20px;
  list-style-type: none;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.nav_clouse_wrapper {
  display: none;
}

.nav_item {
  background: #fff;
  position: relative;
}

.nav_link {
  padding: 10px 10px;
  display: block;
  color: #263238;
}

.nav_link:hover {
  color: #00B8CC;
}

.dropdown_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  display: none;
  background: #fff;
  padding: 10px 30px 30px 30px;
  row-gap: 10px;
  border-radius: 0px 0px 12px 12px;
}

.nav_item:hover ul {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
}

.dropdown_link {
  color: #263238;
}

.dropdown_link:hover {
  color: #00B8CC;
}

.btn_cart {
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}

.btn_link {
  flex-grow: 1;
}

.btn_menu {
  display: none;
}

.btn_cart {
  position: relative;
  box-sizing: border-box;
}

.btn_cart svg {
  fill: #E80055;
}

.cart_count {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #E80055;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_clouse {
  border: 0;
  background: #fff;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #00B8CC;
  padding: 30px;
  padding-bottom: 0;
}

.hero_title {
  color: #fff;
  margin-bottom: 20px;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.item_img {
  display: flex;
  align-items: start;
  justify-content: start;
}

.hero_img {
  width: 100%;
  height: auto;
}

.popular_analizes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  row-gap: 20px;
}

.card .text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
}

.code {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.deadlines {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.price {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.popular_analizes_swiper {
  overflow: hidden;
}

.at_home {
  margin-top: 10px;
}

.at_home_description {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  width: 44%;
  margin-bottom: 20px;
}

.features {
  background-color: #fff;
  padding: 30px;
  margin-top: 10px;
}

.features_wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 240px 240px 240px;
  column-gap: 105px;
  margin-top: 20px;
  justify-content: center;
}

.sale_swiper {
  overflow: hidden;
  margin-top: 10px;
}

.sale_card {
  padding: 0;
  overflow: hidden;
  row-gap: 0;
}

.sale_text {
  padding: 30px;
  padding-top: 20px;
}

.sale_price {
  font-size: 20px;
  line-height: 100%;
  color: #E80055;
  margin-top: 10px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  margin-top: 10px;
}

.about_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 30px;
}

.text_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 1em;
}

.reviews_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews_header_text {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.yandex_description {
  padding-left: 10px;
  font-weight: 400;
  font-size: 12px;
}

.reviews_slider {
  overflow: hidden;
  margin-top: 10px;
}

.reviews_slide {
  padding: 30px;
  background: #fff;
}

.slide_header {
  display: flex;
  justify-content: space-between;
}

.slider_header_item {
  display: flex;
  flex-direction: column;
}

.slider_text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.reviews .swiper-slide {
  height: auto;
}

.news {
  background: #fff;
  padding: 30px;
  margin-top: 10px;
}

.news_wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.news_img {
  width: 100%;
  height: auto;
}

.news_title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.news_text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.contacts {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.contacts_list,
.contacts_map {
  background: #fff;
  padding: 30px;
}

.contacts_map svg {
  width: 425px;
  height: 258px;
}

.item_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contacts_item_inner {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.map_title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #263238;
}

.contacts_item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
}

.map_non {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.map_title {
  align-self: self-start;
}

.btn_map {
  width: 100%;
}

.map_show {
  display: none;
}

#mymap {
  height: 368px;
}

.map_show_active {
  display: block;
}

.map_non_unactive {
  display: none;
}

.analizes_hero {
  padding: 30px;
}

.analizes_hero_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analizes_hero_img {
  margin-bottom: -6px;
}

.analizes_hero_img svg {
  width: 424px;
  height: auto;
}

.analizes_hero_search {
  width: 100%;
}

.analizes_hero_search button {
  background: #E80055;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px;
  padding-left: 30px;
}

.analizes_hero_search input[type=text] {
  padding-left: 30px;
}

.analizes_hero_search input[type=text]::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #BABABA;
}

.analizes_hero_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin-right: 40px;
}

.analizes {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  margin-top: 10px;
  column-gap: 10px;
}

.category {
  position: relative;
  align-self: start;
}

.btn_category {
  display: none;
}

.category_list {
  flex-direction: column;
  list-style: none;
  row-gap: 10px;
  background-color: #fff;
  padding: 30px;
}

.category_list.category_list_active {
  display: flex;
}

.category_limk {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

.analizes_list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.analizes_item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "code code deadline price" "title title title to_cart";
  padding: 30px;
  background-color: #fff;
}

.analizes_title {
  grid-area: title;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.analizes_code {
  grid-area: code;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.analizes_deadline {
  grid-area: deadline;
  margin-right: 20px;
  justify-self: end;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.analizes_price {
  grid-area: price;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.btn_to_cart {
  grid-area: to_cart;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  background-color: #fff;
}

.analizes_button_wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

.actions_hero_item svg {
  margin-bottom: -6px;
}

.actions {
  margin-top: 10px;
}

.actions_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.action_wrapper {
  display: flex;
  flex-direction: column;
}

.actions_price {
  font-size: 16px;
  color: #E80055;
  margin-top: 20px;
}

.actions_title {
  margin-top: 4px;
}

.analiz_hero_code {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.analiz_hero {
  padding: 30px;
}

.analiz {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 1fr;
  column-gap: 10px;
  margin-top: 10px;
}

.analiz_item > div {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

.analiz_title {
  margin-bottom: 20px;
}

.analiz_text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.item_content {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: "place deadline" "description description" "composition composition" "preparation preparation";
}

.analiz_place {
  grid-area: place;
}

.analiz_deadline {
  grid-area: deadline;
}

.analiz_description {
  grid-area: description;
}

.analiz_composition {
  grid-area: composition;
}

.analiz_preparation {
  grid-area: preparation;
}

.item_price {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.analiz_price {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.analiz_price_text {
  font-weight: 600;
  font-size: 68px;
  line-height: 100%;
}

.attention_text {
  font-family: "Nunito Sans";
  color: #E80055;
  font-size: 14px;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.analiz_text {
  font-family: "Nunito Sans";
  margin-top: 10px;
  list-style: none;
  font-size: 14px;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.cart_items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 10px;
}

.cart_item,
.btn_del {
  background-color: #fff;
}

.cart_item {
  display: grid;
  grid-template-columns: 118px auto auto 100px;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 20px;
  padding: 20px 30px;
}

.cart_wrapper_text {
  display: flex;
  justify-content: space-between;
}

.cart_price {
  font-family: "Nunito Sans bold";
}

.cart_bio,
.cart_total {
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  padding-left: 30px;
  padding-right: 30px;
}

.cart_bio {
  display: grid;
  grid-template-columns: 118px auto auto 100px;
  grid-template-rows: 1fr;
  column-gap: 20px;
  align-items: center;
  background-color: #fff;
}

.cart_bio_price,
.cart_total_price {
  justify-self: end;
}

.cart_total {
  display: grid;
  grid-template-columns: 118px 1fr auto 118px;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #fff;
}

.cart_code,
.cart_total {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.cart_bio_price,
.cart_total_price {
  font-family: "Nunito Sans bold";
}

.cart_analizes_code {
  font-family: "Nunito Sans bold";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.cart_total {
  grid-template-columns: auto auto 118px;
  grid-template-rows: auto;
  grid-template-areas: "cart_total_text cart_total_price total_zero ";
  align-items: center;
  background-color: #fff;
}

.cart_total_text {
  grid-area: cart_total_text;
}

.cart_total_price {
  grid-area: cart_total_price;
}

.total_zero {
  grid-area: total_zero;
}

.cart_total_price {
  grid-area: cart_total_price;
  font-family: "Nunito Sans bold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
}

.cart_order {
  margin-top: 10px;
  width: 100%;
}

.order {
  display: grid;
  grid-template-columns: 26% auto;
  grid-template-rows: auto auto;
  gap: 10px;
  margin-top: 10px;
}

.order_attention {
  background-color: #fff;
  padding: 30px;
}

.order_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 30px;
  background-color: #fff;
}

.order_form_item {
  grid-column: 1/4;
}

.order_form_item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.order_form_item span {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
}

.input_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.btn_order {
  grid-column: 1/4;
  padding: 20px 40px;
  border: 0;
}

.order_input {
  border-radius: 40px;
  border: 2px solid #263238;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 130%;
  box-sizing: border-box;
}

.order_input::placeholder {
  color: #BABABA;
}

.order_input:focus {
  outline: none !important;
}

.about_text_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 10px;
}

.about_item {
  align-items: start;
}

.about_partner {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
}

.svg_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
}

footer {
  position: relative;
  background: #263238;
  color: #fff;
  border-radius: 12px 12px 0px 0px;
  padding: 30px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
}

footer a {
  color: #fff;
  cursor: pointer;
}

footer ul {
  list-style: none;
}

.btn_menu_footer,
.btn_clouse_footer {
  display: none;
}

.footer_menu_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
  justify-content: space-between;
  list-style: none;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer_menu svg {
  margin-bottom: 20px;
}

.copywrite {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer_logo {
  display: none;
}

.footer_menu_wrapper.footer_menu_activ {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #263238;
  color: #fff;
  padding: 20px;
  padding-top: 22px;
  border-radius: 12px 12px 0 0;
}

.footer_menu_activ a {
  color: #fff;
}

.footer_menu_activ .footer_menu_inner {
  display: flex;
  justify-content: space-between;
}

.footer_menu_activ button {
  border: 0;
  background: #263238;
}

@media (min-width: 360px) {
  .container {
    max-width: 356px;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 472px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 568px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 748px;
  }
}

@media (min-width: 991.09px) {
  .category_list {
    display: flex;
    border-radius: 12px;
  }
}

@media (min-width: 991px) {
  .footer_menu_inner,
  .footer_menu_logo {
    display: none;
  }

  .footer_menu_logo {
    display: block;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 972px;
  }
}

@media (min-width: 1001px) {
  .header_search,
  .header_contacts {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1004px;
  }
}

@media (min-width: 1024.99px) {
  .analizes_item {
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "code deadline price" "title title to_cart";
    padding: 20px;
    row-gap: 10px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1400px) {
  .nav_list {
    column-gap: 10px;
  }
}

@media (max-width: 1200px) {
  .btn_call {
    display: none;
  }

  .btn_text {
    display: none;
  }

  .nav_list {
    column-gap: 10px;
  }
}

@media (max-width: 1024px) {
  .hero_wrapper {
    position: relative;
  }

  .btn_analizes {
    position: absolute;
    top: 0;
    left: 0;
  }

  .analizes_item {
    grid-template-columns: 1fr 1fr 178px;
    grid-template-rows: auto 1fr;
    grid-template-areas: "code deadline price" "title title to_cart";
    padding: 20px;
    row-gap: 10px;
  }

  .btn_to_cart {
    font-weight: 600;
    font-size: 16px;
  }

  .btn_category:hover {
    color: #00B8CC;
    border: 2px solid #00B8CC;
  }
}

@media (max-width: 1000px) {
  .header_search {
    display: none;
  }

  .analizes_hero_search {
    display: flex;
  }
}

@media (max-width: 992px) {
  .hero_title {
    font-size: 50px;
  }

  .analizes {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 10px;
  }

  .analizes_item {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "title" "code" "deadline" "price" "to_cart";
    padding: 20px;
  }

  .analizes_title {
    margin-bottom: 10px;
  }

  .analizes_deadline {
    margin-right: 0;
    justify-self: start;
  }

  .btn_to_cart {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .header {
    position: relative;
  }

  .btn_menu {
    display: block;
  }

  .nav_list {
    display: none;
  }

  .nav_item:hover ul {
    position: static;
  }

  .nav_list_active {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: start;
    border-radius: 0px 0px 12px 12px;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #BABABA;
    padding-bottom: 20px;
    z-index: 3;
  }

  .nav_clouse_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .nav_list_active .nav_link {
    font-size: 16px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .nav_list_active .dropdown_list {
    display: flex;
    padding-bottom: 20px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .nav_list_active .dropdown_link {
    font-size: 14px;
  }

  .btn_link {
    flex-grow: 1;
  }

  .btn_cart {
    padding-left: 38px;
    padding-right: 38px;
  }

  .btn_menu {
    width: 50%;
  }

  .btn_text {
    display: block;
  }

  .features_wrapper {
    grid-template-columns: 210px 210px 210px;
    column-gap: 39px;
    row-gap: 20px;
  }

  .reviews_header_text {
    display: none;
  }

  .reviews_slide {
    padding: 20px;
  }

  .contacts {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
  }

  .contacts_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
  }

  .contacts_list,
  .contacts_map {
    background: #fff;
    padding: 20px;
  }

  .btn_category {
    display: block;
    width: 100%;
  }

  .category_list {
    position: relative;
    z-index: 1;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    margin-bottom: -20px;
    transform: translateY(-20px);
  }

  .btn_category {
    position: relative;
    z-index: 2;
  }

  .category_list {
    display: none;
    row-gap: 15px;
  }

  .category_limk {
    display: block;
    padding: 10px 10px 10px 0;
  }

  .actions_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
  }

  .analiz {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    grid-template-areas: "item_price item_price" "item_content item_content";
  }

  .analiz_item > div {
    padding: 20px;
  }

  .item_content {
    grid-area: item_content;
    row-gap: 10px;
  }

  .item_price {
    grid-area: item_price;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
  }

  .item_content {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "place place" "deadline deadline" "description description" "composition composition" "preparation preparation";
  }

  .order {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 10px;
  }

  .order_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
  }

  .order_attention {
    padding: 20px;
  }

  .input_wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    column-gap: 0;
    row-gap: 10px;
  }

  footer {
    padding: 20px;
  }

  .footer_menu_logo {
    display: none;
  }

  .footer_menu_wrapper {
    display: none;
  }

  .btn_menu_footer {
    display: block;
  }

  .footer_logo {
    display: block;
  }

  .button_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .btn_clouse_footer {
    display: block;
  }
}

@media (max-width: 768px) {
  .header_contacts {
    display: none;
  }

  .btn_call {
    display: flex;
  }

  .hero_title {
    font-size: 50px;
  }

  .at_home_description {
    width: 100%;
    font-size: 14px;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    margin-top: 0;
  }

  .about_img {
    display: none;
  }

  .news {
    padding: 20px;
  }

  .analizes_hero_img svg {
    width: 302px;
  }

  .analizes_hero {
    padding: 20px;
  }

  .analizes_hero_search input[type=text] {
    padding-left: 20px;
  }

  .hero.actions_hero {
    padding-bottom: 0;
  }

  .actions_hero_item svg {
    margin-bottom: -6px;
    width: 300px;
    height: auto;
  }

  .actions_text {
    padding: 20px;
  }

  .footer_menu_logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero_wrapper {
    position: initial;
  }

  .btn_analizes {
    position: initial;
  }

  .hero {
    padding: 20px;
  }

  .hero_wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "img" "btn";
    justify-items: stretch;
    gap: 20px;
  }

  .item_analizes {
    grid-area: btn;
  }

  .item_img {
    grid-area: img;
  }

  .btn_analizes {
    display: block;
    width: 100%;
  }

  .features_wrapper {
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 1fr;
  }

  .features_item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 74px 1fr;
    align-items: center;
    column-gap: 10px;
  }

  .analizes_hero_search button {
    padding: 10px;
    padding-left: 20px;
  }

  .analizes_hero_search input[type=text]::placeholder {
    font-size: 14px;
    line-height: 130%;
  }

  .analiz_price_text {
    font-size: 50px;
  }
}

@media (max-width: 767.09px) {
  .cart_item {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    grid-template-areas: "cart_code cart_code" "cart_title cart_price" "btn_del btn_del";
    column-gap: 20px;
    row-gap: 10px;
    padding: 20px 30px;
    font-size: 14px;
  }

  .cart_analizes_code {
    grid-area: cart_code;
  }

  .cart_bio_title {
    grid-area: cart_title;
  }

  .cart_price {
    grid-area: cart_price;
  }

  .btn_del {
    grid-area: btn_del;
  }

  .cart_bio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "cart_code cart_code" "bio_title bio_price";
  }

  .cart_code {
    grid-area: cart_code;
  }

  .bio_title {
    grid-area: bio_title;
  }

  .cart_bio_price {
    grid-area: bio_price;
  }

  .cart_total {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "cart_total_text total_zero cart_total_price";
    align-items: center;
    background-color: #fff;
  }

  .cart_total_text {
    grid-area: cart_total_text;
  }

  .cart_total_price {
    grid-area: cart_total_price;
  }

  .total_zero {
    grid-area: total_zero;
  }
}

@media (max-width: 766px) {
  .copywrite {
    flex-direction: column;
  }
}

@media (max-width: 765px) {
  .news_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
  }
}

@media (max-width: 576px) {
  .btn_call_text {
    display: none;
  }

  .contacts_item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
  }

  .item_wrapper {
    row-gap: 10px;
  }
}

@media (max-width: 575px) {
  .btn_cart {
    padding: 10px 30px;
  }

  .hero_title {
    font-size: 30px;
  }

  .hero_img {
    height: 178px;
  }

  .analiz_price_text {
    font-size: 30px;
  }

  .btn_analiz_price {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .analizes_hero_text {
    display: none;
  }

  .analizes_hero_search button {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero.actions_hero {
    padding-bottom: 0;
  }

  .actions_hero_item svg {
    margin-bottom: -6px;
    width: 272px;
    height: auto;
  }

  .actions_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
  }

  .button_wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .footer_logo {
    align-self: center;
  }

  .copywrite {
    flex-direction: column;
    row-gap: 10px;
  }

  .footer_menu_logo {
    display: none;
  }
}

@media (max-width: 479px) {
  .contacts_map svg {
    width: 272px;
    height: 197px;
  }

  .item_price {
    grid-area: item_price;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 10px;
  }
}

@media (max-width: 360px) {
  .btn_call {
    width: 100%;
  }
}

@media (max-width: 352px) {
  .btn_menu_text,
  .btn_text {
    display: none;
  }
}
/*# sourceMappingURL=maps/main.css.map */
